@use "../utilities/" as *;
@use "../globals/" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $clr-secondary;
  color: $clr-white;

  .logo {
    width: 100px;
    height: 60px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: auto;
    padding: 15px;
    max-width: 800px;
    margin-right: 150px;

    li {
      list-style: none;
    }

    a {
      color: $clr-black;
      text-decoration: none;
    }
  }
}
